{% extends "pages/base.html" %}

{% block title %}SSL{% endblock %}

{% block content %}
  <div class="container col-sm-7 col-lg-7 text-center mx-auto mt-5 justify-content-center">
    <h3 class="text-primary m-4 font-weight-bolder">Bảng giá SSL</h3>
    <p>Tổng hợp bảng giá SSL của các nhà cung cấp lớn ở Việt Nam và trên thế giới,
      giúp bạn thuê được SSL rẻ nhất, tiết kiệm nhất.</p>
    
    {% block table %}
    {% endblock %}
  <div class="container col-md-8 text-center">
    <pre style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;" class="m-1 font-italic">
      ***Giá đã bao gồm VAT hoặc phí ICANN nếu có.
      Nhấn vào biểu tượng <i class="fas fa-link m-1 text-primary"></i> để xem thông tin chi tiết.
    </pre>
    <p class="mb-3"><b>Sử dụng ô Tìm kiếm</b> để xem thêm.</p>
  </div>
{% endblock %}